@font-face {
  font-family: "Spotify";
  src: local("GothamMeduim"), url(./GothamMedium.ttf) format("opentype");
}
@font-face {
  font-family: "Spotify-Bold";
  src: local("GothamBold"), url(./Gotham-Bold.otf) format("truetype");
}

.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh; /* adjusted for the full height of the viewport */
  justify-content: space-between; /* ensures that Footer, Body, and Head are spaced out properly */
}
