@font-face {
  font-family: 'Spotify';
  src: local('GothamMeduim'), url(./GothamMedium.ttf) format('opentype');
}
@font-face {
  font-family: 'Spotify-Bold';
  src: local('GothamBold'), url(./Gotham-Bold.otf) format('truetype');
}

.head,
.body,
.footer {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
