@import "/app/common.module.scss";
$light-mode: (
  text-color: $textInverse,
);

$dark-mode: (
  text-color: $textPrimary,
);

@mixin theme-colors($theme) {
  color: map-get($theme, text-color);
}
.body {
  height: auto;
  display: flex;
  flex-direction: row;

  .sidebar {
    width: 25vw;
    height: auto;
  }

  .bodyMain {
    width: 75vw;
    height: 120vh;
    flex-direction: row;

    .bodyMainTop {
      display: flex;
      height: 40vh;

      .bodyMainTopContent {
        width: 50vw;
        @extend .flex-center;
        white-space: nowrap;

        .bodyMainTopText {
          padding: 0 2vw;
          @extend .boxTitle;
          text-align: center;
          @include theme-colors($light-mode); // Default to light mode color

          // Dark mode styles
          @media (prefers-color-scheme: dark) {
            @include theme-colors($dark-mode);
          }
        }

        .bodyMainTopPlaycount {
          padding: 0 2vw;
          @extend .boxTitle;
          text-align: center;
          background: $gradientBg;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .bodyMainTopCover {
        @extend .flex-center;
        width: 25vw;
        background: $boxBackground;
        box-shadow: $buttonShadow;
        @extend .image;
      }
    }

    .bodyMainMiddle {
      display: flex;
      height: 50vh;
      border-radius: 0 0 30px 0;
      background: $boxBackground;
      box-shadow: $buttonShadow;

      .bodyMainMiddleCoverRight,
      .bodyMainMiddleCoverMiddle,
      .bodyMainMiddleCoverLeft {
        width: 25vw;
        display: flex;
      }
    }

    .middleStuff {
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 5% 0;
      width: 25vw;

      .text {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0 2.5%;

        p {
          @extend .subHeading;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }

      .img {
        height: 85%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .image;
      }
    }

    .bodyMainBottom {
      height: 40vh;
      width: 75vw;
      display: flex;

      .bodyMainBottomCover {
        width: 25vw;
        height: 40vh;
        padding: 0.5%;
        @extend .flex-center;
        @extend .image;
      }

      .bodyMainBottomContent {
        @extend .flex-center;
        height: 40vh;
        width: 50vw;
        padding-top: 5vh;

        a {
          box-shadow: $buttonShadow;
          width: 40vw;
          @extend .flex-center;
          text-decoration: none;
          word-wrap: break-word;
          @extend .boxTitle;
          padding: 3vw;
          text-align: center;
          -webkit-background-size: 200% auto;
          background-size: 200% auto;
          color: $textPrimary;
          border-radius: 10px;
          background-image: $gradientBg;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .body {
    height: auto;

    .sidebar {
      width: 40vw;
      border-radius: 0 30px 0 0;
    }

    .bodyMain {
      width: 60vw;
      height: auto;
      flex-direction: row;
      padding: 0;
      .bodyMainTop {
        flex-direction: column;
        height: 50vh;

        .bodyMainTopContent {
          width: 60vw;
          height: 100%;

          .bodyMainTopText,
          .bodyMainTopPlaycount {
            font-size: 2vh;
          }
        }

        .bodyMainTopCover {
          width: 100%;
          height: 30vh;
        }
      }

      .bodyMainMiddle {
        flex-direction: column;
        height: 92.5vh;
        border-radius: 0 0 30px 30px;

        .bodyMainMiddleCoverRight,
        .bodyMainMiddleCoverMiddle,
        .bodyMainMiddleCoverLeft {
          width: 60vw;
          margin: 0;
        }
      }

      .middleStuff {
        height: 30vh;
        margin: 0;
        width: 60vw;

        .text {
          p {
            text-wrap: wrap;
            font-size: 2vh;
          }
        }
      }

      .bodyMainBottom {
        width: 100vw;
        margin-left: -40vw;
        height: 25vh;

        .bodyMainBottomCover {
          width: 100vw;
          height: 25vh;
          padding: 0.5%;
          @extend .flex-center;
          @extend .image;
        }

        .bodyMainBottomContent {
          height: 25vh;
          width: 100vw;
          padding-top: 0;

          a {
            width: 40vw;
            height: 8vh;
          }
        }
      }
    }
  }
}
