@import "/app/common.module.scss";
// styles/Body.module.scss

.body {
  height: 120vh;
  background: $boxBackground;
  display: flex;
  flex-direction: row;

  .sidebar {
    background: $boxBackground;
    flex-grow: 2;
    width: 25vw;
  }

  .bodyMain {
    background: $textSecondary;
    width: 75vw;
    height: 120vh;
    flex-direction: row;

    .bodyMainTop {
      display: flex;
      height: 40vh;

      .bodyMainTopContent {
        width: 50vw;
        @extend .flex-center;
        white-space: nowrap;

        .bodyMainTopText,
        .bodyMainTopPlaycount {
          padding: 0 3vw;
          @extend .boxTitle;
          text-align: center;
          background: $boxBackground;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .bodyMainTopPlaycount {
          background: $gradientBg;
          background-clip: text;
        }
      }

      .bodyMainTopCover {
        @extend .flex-center;
        width: 25vw;
        background: $boxBackground;

        @extend .image;
      }
    }

    .bodyMainMiddle {
      display: flex;
      height: 40vh;
      overflow: hidden;

      .bodyMainMiddleCoverRight,
      .bodyMainMiddleCoverMiddle,
      .bodyMainMiddleCoverLeft {
        width: 25vw;
        background: $boxBackground;
        display: flex;
      }
    }

    .middleStuff {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 25vw;
      background-color: $boxBackground;

      .text {
        height: 15%;
        width: 100%;

        display: flex;
        align-items: flex-start;
        p {
          @extend .subHeading;
        }
      }
      .img {
        height: 85%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @extend .image;
      }
    }

    .bodyMainBottom {
      height: 40vh;
      width: 75vw;
      display: flex;

      .bodyMainBottomCover {
        width: 25vw;
        height: 40vh;
        padding: 0.5%;
        @extend .flex-center;
        @extend .image;
      }

      .bodyMainBottomContent {
        @extend .flex-center;
        height: 40vh;
        width: 50vw;
        padding-top: 5vh;

        a {
          box-shadow: $buttonShadow;
          width: 40vw;
          text-decoration: none;
          @extend .boxTitle;
          padding: 3vw;
          text-align: center;
          background-size: 200% auto;
          color: $textPrimary;
          border-radius: 10px;
          background-image: $gradientBg;
        }
      }
    }
  }
}
