/* styles/Head.module.scss */
@import "/app/common.module.scss";

.layout {
  display: flex;

  height: 55vh;
  width: 100%;
}

.headerContent {
  @extend .flex-center-column;
  align-items: flex-start;
  padding: 2.5vw;
  width: 60%;
  height: 100%;

  h2 {
    @extend .heading;
  }
  h1 {
    @extend .title;
  }
}

.headerImage {
  width: 40%;
  background: var(--bg);
  border-radius: 0px 0px 0px 45px;
  box-shadow: $boxShadow;
  .headerImageStack {
    box-shadow: $boxBackground;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(18, 1fr);

    .headerImageStackArtist,
    .headerImageStackCover,
    .headerImageStackStreams {
      box-shadow: inherit;
    }

    .headerImageStackCover {
      grid-column: 11 / span 5;
      grid-row: 2 / span 6;
      z-index: 50;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: $boxShadow;
      }
    }

    .headerImageStackArtist {
      grid-column: 4 / span 10;
      grid-row: 4 / span 12;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: $boxShadow;
      }
    }

    .headerImageStackStreams {
      background: var(--bg2);
      border-radius: 7.5px;
      box-shadow: $buttonShadow;
      grid-row: 15 / span 3;
      grid-column: 2 / span 6;
      z-index: 100;

      @extend .flex-center;

      p {
        background: var(--bg2);
        @extend .subHeading;
        text-wrap: wrap;
        padding: 0;
        margin: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .layout {
    display: flex;
    flex-direction: column;
    height: 75vh;
    .headerContent {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 3vh;
      }
      h1 {
        font-size: 4.5vh;
      }
    }
    .headerImage {
      width: 100%;
      border-radius: 15px;
      .headerImageStackStreams {
        p {
          font-size: 3vh;
        }
      }
    }
  }

  .headerText,
  .headerContentBottomText {
    padding-top: 7vh;
    padding-left: 3vw;
    font-size: clamp(5vw, 7vw + 1vw, 10vw);
    &.headerContentBottomText {
      font-size: clamp(8vw, 9vw + 1vw, 16vw);
      padding-left: 7vw;
    }
  }
}
