@import "/app/common.module.scss";

.sidebar {
  background: $boxBackground;
  width: 25vw;
  height: 130vh;
  padding: 2vw;
  @extend .flex-center-column;
  gap: 1.5vw;
  box-shadow: $buttonShadow;

  .infoSection,
  .recentSection {
    background: $containerBackground;
    padding: 1vh 1.5vw;

    border-radius: 8px;
    box-shadow: $boxShadow;
    width: 100%;
    text-align: center;

    h2 {
      font-size: 2vw;
      margin-bottom: 0.5vw;
      color: $textPrimary;
    }

    img {
      width: 5vw;
      height: 7.5vh;
      border-radius: 50%;
      box-shadow: $boxShadow;
    }

    p {
      margin: 1vh 0;
      font-size: 1.15vw;
      color: $textSecondary;

      a {
        color: $primaryColor;
        text-decoration: none;
        font-size: 1.25vw;
        &:hover {
          color: $primary-hover-color;
        }
      }
    }
  }

  .infoSection {
    height: 30vh;
  }
  .recentSection {
    height: 100vh;
  }

  .track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    padding: 1vh 0.75vw;
    border-radius: 8px;
    background: $secondaryColor;
    box-shadow: $boxShadow;
    width: 100%;

    p {
      font-size: 1.1vw;
      color: $textSecondary;
    }

    .trackName {
      color: $primaryColor;
      text-decoration: none;

      &:hover {
        color: $primary-hover-color;
      }
    }

    .nowPlaying {
      color: $accentSecondaryColor;
      font-weight: 500;
      font-size: 1.2vw;
    }
    span {
      color: $textSecondary;
    }
  }

  .githubLink {
    margin-top: auto;
    a {
      color: $textPrimary;
      text-decoration: none;

      &:hover {
        color: $primaryColor;
      }

      .githubBubble {
        display: flex;
        align-items: center;
        gap: 0.5vw;
        padding: 0.5vh 1vw;
        background: $containerBackground;
        border-radius: 30px;
        box-shadow: $boxShadow;
        transition: transform 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }

        span {
          font-size: 1.25vw;
          color: $textPrimary;
        }
      }
    }
  }
}
